# ==============================
# Node
# ==============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==============================
# Logs
# ==============================
logs
*.log

# ==============================
# Runtime Data
# ==============================
pids
*.pid
*.seed
*.pid.lock

# ==============================
# Coverage
# ==============================
coverage/

# ==============================
# Angular
# ==============================
.angular/
dist/
.tmp/
out-tsc/

# ==============================
# Build Output
# ==============================
build/
release/

# ==============================
# Environment Files
# ==============================
.env
.env.*

# Keep sample env files
!.env.example

# ==============================
# IDE
# ==============================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.iml

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db
desktop.ini

# ==============================
# Temporary
# ==============================
tmp/
temp/

# ==============================
# Reports
# ==============================
reports/

# ==============================
# Output Folder
# ==============================
output/

# ==============================
# Workspace
# ==============================
workspace/

# ==============================
# Zip Files
# ==============================
*.zip

# ==============================
# NestJS
# ==============================
backend/node_modules/
backend/dist/

# ==============================
# Angular
# ==============================
frontend/node_modules/
frontend/dist/
frontend/.angular/